img{
    width: 300px;
    height: 200px;
    padding-bottom: 5px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    transition: transform 0.25s;
    opacity: 90%;
}
img:hover{
    transform: scale(1.1);
}
.container {
    position: relative;
    text-align: center;
    color: white;
    display: inline-block;
    font-size: 30px;
}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
button{
    border: none;
    background-color: white;
}
.allimages{
    position: relative;
    top: 100px;
}
#tex1{
    position: relative;
    left: 30px;
    color: rgb(54, 36, 27);
}